<!-- view for genres -->

<div class="genre-input">
        <form ng-submit="vm.newGenre(vm.genre)">
            <input type="text" placeholder="genre" ng-model="vm.genre.genre" />
            <input id="btn-submit" type="submit" value="enter" />
        </form>
    </div>

<div class="card" ng-repeat="genre in vm.genres.list">
        <h4>{{genre.genre}}</h4>
        <p>{{genre.all_films}}</p>
        <button ng-click="vm.deleteGenre(genre)">Delete</button>
    </div>
<!-- future notes! add a image_path option to addGenre and SQL for genre banners?? -->

<!-- <pre>{{vm|json}}</pre> -->