<!-- view for movies -->

<div class="newMovie">
    <form ng-submit="vm.getPoster(vm.movie)">
        <input type="text" placeholder="film name" ng-model="vm.movie.name" />
        <select ng-model="vm.movie.genre_id">
            <option value="">---please select---</option>
            <option ng-repeat="genre in vm.genres.list" ng-value="genre.id">{{genre.genre}}</option>
        </select>
        <!-- <select ng-model="vm.movie.genre_id">
                <option value="">-please select-</option>
                <option ng-repeat="genre in vm.genres.list" ng-value="genre.id">{{genre.genre}}</option>
            </select> -->
        <!-- FUTURE NOTES: ^^^^ second genre option when junction table is made -->
        <input type="date" ng-model="vm.movie.release_date" />
        <input type="number" placeholder="run time in minutes" ng-model="vm.movie.run_time" />
        <input id="btn-submit" type="submit" value="enter" />
    </form>
</div>


<!-- movies will appear here -->
<div class="card-deck">
    <div ng-repeat="movie in vm.collection.list">
        <div class="card" style="width:15rem">
            <img class="card-img-top" ng-src="{{movie.image_path}}" />
            <p class="card-text">{{movie.name}}</p>
            <p class="card-text">{{movie.genre}}</p>
            <p class="card-text">run time: {{movie.run_time}} minutes</p>
            <p class="card-text">{{movie.release_date | date:MM-dd-yyyy}}</p>
            <button ng-click="vm.deleteMovie(movie.movie_id)">Delete</button>
        </div>
    </div>
</div>




<!-- filter for date display on dom: {{dhsjakds | date: mm dd yyyy }} -->